/* GLOBAL STYLE */
*{
    padding: 0;
    margin: 5px;
    text-align: center;
}

body{
  background-color: white; 
  background-size: cover;
  background-position: center;
}
/* HEADING */
.D{ 
    text-align:center;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(156, 15, 15);
    letter-spacing:5px;
    margin: 1px 50px 75px 100px;
    text-shadow: 1px 1px 1px lightblue,
    1px 2px 1px rgb(235, 235, 24),
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 38px 60px rgba(16, 16, 16, 0.2);     
}

/* TABLE */
.calculator{
width: 400px;
height: 520px;
background-color: #c0c0c0;
box-shadow: 0px 0px 0px 10px  #666;
border: 5px solid black;
border-radius: 10px;
margin: auto;
}

/*   DISPLAY BOX  */
#display{
    width: 365px;
    height: 70px;
    text-align: center;
    background-color: rgb(245, 245, 192);
    border: 3px solid black;
    font-size: 20px;
    left: 2px;
    top: 2px;
    color: black;
}


/* FIRST THREE BUTTONS, FIRST ROW */
.btnTop{
    color: white;
    background-color: #feb139;
    font-size: 18px;
    margin: auto;
    width: 60px;
    height: 30px;
    border: solid black;
    border-radius: 5px;
}

#delete:hover{
    background-color: red;
}

#equal:hover{
background-color: #7fff00;
}


/*  NUMBER BUTTONS */
.btnNum{
    color: white;
    background-color: black;
    font-size: 18px;
    margin: auto;
    width: 60px;
    height: 30px;
    border: solid black;
    border-radius: 5px;
}
.btnNum:hover{
    background-color: green;
}

/* MATH OPERATORS1 */
.btnMath{
    color: black;
    background-color: rgb(94, 202, 238);
    font-size: 18px;
    margin: auto;
    width: 60px;
    height: 30px;
    border: solid black;
    border-radius: 5px;
}

.btnMath:hover{
    background-color:green ;
}

/* MATH OPERATORS2 */
.btnOpps{
    color: white;
    background-color: rgb(122, 9, 9);
    font-size: 18px;
    margin: auto;
    width: 60px;
    height: 30px;
    border: solid black;
    border-radius: 5px; 
}
.btnOpps:hover{
    background-color: green;
}



